@page "/"


<PageTitle>Home</PageTitle>

<h1>Ihor Shashuba 119786</h1>

<button @onclick="ButtonClicked">@buttonText</button>


@code {
    private string buttonText = "press";

    
    private void ButtonClicked()
    {
        
        buttonText = "yeah";
    }
}

<img src="@imageUrl" alt="image" />

@code {
    private string imageUrl = "https://vet-centre.by/wp-content/uploads/2016/11/kot-eti-udivitelnye-kotiki.jpg";
}